body 
{background
color: coral;
border:10px teal; width: auto;}

h1 
{color: char;
 padding: 10px;
 word-wrap: break-word;
 background-color: teal;
 font-family: 'Oswald', sans-serif;
 font-size: 5em;
text-align: center;} 

ul, li 
{padding: 10px;
 font-family: courier;
 font-weight: bold; }

p 
{color: black;}

.secondary 
{display: inline;
 color: black;
 font-size: 15px;
 text-align: center;
 padding: 5px}

.img-with-text {
    height: 190px;}

.img-with-text img 
{
font-size: 14px;
font-family: 'Oswald', sans-serif;
text-decoration: none;
text-align: justify;}

h3 {text-align: justify;}

#footer {font-size: 14em;
        text-align: center;
        padding: 25%; 
        background color:gray;
        position: absolute;
        bottom:0;}

