body 
{background
color: black;
border:10px teal; width: auto;}

h1 
{color: char;
 padding: 10px;
 word-wrap: break-word;
 background-color: teal;
 font-family: 'Oswald', sans-serif;
 font-size: 5em;
text-align: center;} 

li, ul 
{padding: 10px;
 font-family: courier;
 font-weight: bold; }

p 
{color: black;}

.secondary 
{display: inline;
 color: black;
 font-size: 15px;
 text-align: center;
 padding: 5px}

.img-with-text {
    height: 190px;}

.img-with-text img 
{
font-size: 14px;
font-family: 'Oswald', sans-serif;
text-decoration: none;
text-align: justify;}

h3 {text-align: justify;}

.contact {text-align: center;
border: 10px teal; width: auto; }

#footerhome {font-size: 1em;
        padding: 5%; 
        background color:gray;
        padding: 10px;
        display:list-item;
}



