body {background-color: #ece7de; 
}
nav{
  padding-bottom: 9px;
    padding-top: 9px;    
    height: 42px;

}

ul{list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{display: inline-block;
       padding: .05% 5% .05% 5%;
       background-color: #ece7de;
       font-color:teal;
       

}

li {border-radius: 5px;}

li.contact{
  display:inline;
  font-family: 'Francois One', sans-serif;
}

div.col-1{
  height: 140px;
  width:8.3%;
  float:left;
  background-color:#a1e1c5;
}

.col-11{
  float:left;
  width:91.6%;
  height:140px;
}

.one-third{
  width:30%;
  height:auto;
  display:inline;
  padding:20px;
  text-align: center;
  margin-left: 0px;
}

.blogposts{
   padding:1%;
}

a{text-decoration: none;
  opacity:0.8;
}


header {text-align: center;
        background-color: #a1e1c5;
        padding-right: 67px;
}

h1  {border:3%;
     color:teal;
     text-align: center;
     font-family: 'Francois One', sans-serif;

}

h2 {margin:4rem;
    color: teal;
    text-align: center;
    font-family: 'Francois One', sans-serif;
}


.title {height: 50%;
        margin: 14px 23px;
        font-size: 2em;
        font-family: 'Orbitron', sans-serif;
}


h3{font-size: 1em;
font:sans-serif;
font-color: teal;
}


section {text-align: center;      
}

.row img {height: 80%;
}


.connect {background-size: 100%;
          display:inline-block;
}

footer {background-color: #a1e1c5;
          display:inline-block;       
          width: 100%;
          text-align: center;
          padding-top: 1rem;
          padding-bottom:1rem;
}

